/* navbar */
body{
    margin: 0;
    /* background-image: url("bg3.avif"); */
    /* background-size: cover; */
    background-color: #6a8b9fad;
}

#first-navbar{
    display: block;
    background-color: rgb(70, 42, 42);
    color: antiquewhite;
    /* padding: 10px; */
    height: 80px;
    width: 100%;
}
#left-nav ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#left-nav ul li{
    padding: 10px;
    margin: 10px;
}

#left-nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 8px;
    border-radius: 19px;
}
#left-nav ul li a:hover{
    background-color: beige;
    color:black;
}

#right-nav ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#right-nav ul li{
    padding: 10px;
    margin: 10px;
}

#right-nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 8px;
    border-radius: 19px;
}
#right-nav ul li a:hover{
    background-color: beige;
    color:black;
}
#right-nav{
    display: inline-block;
    float: right;
    /* background-color: black; */
}
#left-nav{
    display: inline-block;
    float: left;
    /* background-color: black; */

}

/* utilities classes */

.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}

/* product */

#main-product-section{
    margin: 5px;
    padding: 5px;
}

#product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products{
    padding: 10px;
    margin:10px;
    background-color: rgb(108, 69, 69);
    color:white;
    border-radius: 15px;
    height: 170px;
    width: 15%;
}
.products:hover{
    padding: 8px;
    margin:8px;
    background-color: rgb(132, 88, 88);
}

.products-main{
    padding: 10px;
    margin: 19px;
}
.btn-pro{
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    /* width: 100%; */
    display: inline;
    background-color: burlywood;
    color: black;
}
.btn-pro:hover{
    background-color: green;
    color:white;
}
.products-name{
    float: left;
}
.products-price{
    float: right;
}
.products-sell{
    margin: 40px 10px 10px 10px;
    padding: 5px;
    /* position: relative; */
    /* bottom: 10px; */
}
#product-choose{
    background-color: rgb(108, 69, 69);
}
#product-choose ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#product-choose ul li{
    padding: 10px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 14px;
}

#product-choose ul li:hover{
    background-color: beige;
    color:black;
}

/* learn section */

.learn-choose{
    background-color: rgb(108, 69, 69);
}
.learn-choose ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.learn-choose ul li{
    padding: 10px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 14px;
}

.learn-choose ul li:hover{
    background-color: beige;
    color:black;
}

.learn-choose2{
    background-color: rgb(108, 69, 69);
    display: block;
}
.learn-choose2 ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.learn-choose2 ul li{
    padding: 10px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 14px;
}

.learn-choose2 ul li:hover{
    background-color: beige;
    color:black;
}

/* wheat css */
.titlebold2{
    font-weight: 700;
    font-size: 21px;
}
.crop-main-learn{
    margin:40px 70px;
    padding: 10px;
}